.sidebar {
   background: #263238;
   padding: 1px;
   padding-top: 14vh;
   margin: 0;
   position: fixed;
   right: 0;
   width: 65px;
   height: 100vh;
   z-index: 50;
}

.sidebar button {
   background-color: #263238;
   display: block;
   width: 100%;
   line-height: 80px;
   text-decoration: none;
   padding-left: 8px;
   border: none;
}

.sidebar button i {
   color: #fff;
   font-size: 24px;
}

.sidebar button:hover {
   background: #4b4b4b;
}

.sidebar button:hover i {
   font-size: 28px;
}